# Don't track content of these folders
__pycache__/
.idea/
.vscode/


# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
Ch09/capitalsquiz_answers1.txt
Ch09/capitalsquiz_answers2.txt
Ch09/capitalsquiz_answers3.txt
Ch09/capitalsquiz_answers4.txt
Ch09/capitalsquiz_answers5.txt
Ch09/capitalsquiz_answers6.txt
Ch09/capitalsquiz_answers7.txt
Ch09/capitalsquiz_answers8.txt
Ch09/capitalsquiz_answers9.txt
Ch09/capitalsquiz_answers10.txt
Ch09/capitalsquiz_answers11.txt
Ch09/capitalsquiz_answers12.txt
Ch09/capitalsquiz_answers13.txt
Ch09/capitalsquiz_answers14.txt
Ch09/capitalsquiz_answers15.txt
Ch09/capitalsquiz_answers16.txt
Ch09/capitalsquiz_answers17.txt
Ch09/capitalsquiz_answers18.txt
Ch09/capitalsquiz_answers19.txt
Ch09/capitalsquiz_answers20.txt
Ch09/capitalsquiz_answers21.txt
Ch09/capitalsquiz_answers22.txt
Ch09/capitalsquiz_answers23.txt
Ch09/capitalsquiz_answers24.txt
Ch09/capitalsquiz_answers25.txt
Ch09/capitalsquiz_answers26.txt
Ch09/capitalsquiz_answers27.txt
Ch09/capitalsquiz_answers28.txt
Ch09/capitalsquiz_answers29.txt
Ch09/capitalsquiz_answers30.txt
Ch09/capitalsquiz_answers31.txt
Ch09/capitalsquiz_answers32.txt
Ch09/capitalsquiz_answers33.txt
Ch09/capitalsquiz_answers34.txt
Ch09/capitalsquiz_answers35.txt
Ch09/capitalsquiz1.txt
Ch09/capitalsquiz2.txt
Ch09/capitalsquiz3.txt
Ch09/capitalsquiz4.txt
Ch09/capitalsquiz5.txt
Ch09/capitalsquiz6.txt
Ch09/capitalsquiz7.txt
Ch09/capitalsquiz8.txt
Ch09/capitalsquiz9.txt
Ch09/capitalsquiz10.txt
Ch09/capitalsquiz11.txt
Ch09/capitalsquiz12.txt
Ch09/capitalsquiz13.txt
Ch09/capitalsquiz14.txt
Ch09/capitalsquiz15.txt
Ch09/capitalsquiz16.txt
Ch09/capitalsquiz17.txt
Ch09/capitalsquiz18.txt
Ch09/capitalsquiz19.txt
Ch09/capitalsquiz20.txt
Ch09/capitalsquiz21.txt
Ch09/capitalsquiz22.txt
Ch09/capitalsquiz23.txt
Ch09/capitalsquiz24.txt
Ch09/capitalsquiz25.txt
Ch09/capitalsquiz26.txt
Ch09/capitalsquiz27.txt
Ch09/capitalsquiz28.txt
Ch09/capitalsquiz29.txt
Ch09/capitalsquiz30.txt
Ch09/capitalsquiz31.txt
Ch09/capitalsquiz32.txt
Ch09/capitalsquiz33.txt
Ch09/capitalsquiz34.txt
Ch09/capitalsquiz35.txt
